@import 'leaflet/dist/leaflet.css';
@import 'leaflet-defaulticon-compatibility';
@import 'leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css';

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;

  min-height: 100svh;
  min-width: 100svw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 100%;
  font-size: 22px;
  text-align: center;
  color: #fff;
  flex-direction: column;
  background: rgba($color: #000000, $alpha: 0.7);
}