@import '@/shared/ui/styles/core.scss';
@import '@/shared/ui/styles/swt-colors.scss';

.text {
  padding: 0;
  top: 0px;
  left: 18px;
  font-weight: 400 !important;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7) !important;
  box-shadow: none !important;
  border: none !important;
  background: none !important;
}

.ellipsis {
  border-radius: 50%;
  opacity: .4;
}

.line {
  opacity: .4;
}

.capital {
  font-size: 18px;
}

.city {
  font-size: 14px;
}

.village {
  font-size: 12px;
}

.local {
  font-size: 10px;
}

.rockarea {
  font-size: 10px;
}

.marine {
  color: rgb(0, 98, 245);
  font-size: 10px;
}

.hill {
  font-size: 10px;
}

.East {
  filter: opacity(1) invert(51%) sepia(32%) saturate(6988%) hue-rotate(348deg) brightness(83%) contrast(172%)
}


.Independent {
  filter: brightness(0) saturate(100%) invert(26%) sepia(94%) saturate(3048%) hue-rotate(91deg) brightness(92%) contrast(106%);
}

.West {
  filter: brightness(0) saturate(100%) invert(9%) sepia(100%) saturate(7476%) hue-rotate(248deg) brightness(91%) contrast(144%);
}

.unit-description {
  font-size: 12px;
  font-weight: 400;
  box-shadow: none;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.4) !important;
  text-align: center;
  margin-left: 35px;
  left: 15px;
  padding: 0;
  line-height: 1.5;
  text-transform: capitalize;
}

.west-text {
  color: rgb(0, 98, 245);
}

.east-text {
  color: rgb(255, 0, 0);
}

.independent-text {
  color: rgb(13, 145, 13);
}

.unit-list {
  position: relative;
  // padding: 15px 20px;
  // background: rgba(0, 0, 0, 0.7);
  color: #000;
  font-size: 14px;
  text-align: left;
}