.blue {
  filter: brightness(0) saturate(100%) invert(18%) sepia(100%) saturate(2949%) hue-rotate(230deg) brightness(75%) contrast(120%) opacity(0.9);
}

.red {
  filter: invert(27%) sepia(32%) saturate(6988%) hue-rotate(348deg) brightness(77%) contrast(123%);
}

.Default {
  color: #fff;
}

.ColorBlack {
  color: rgba(0, 0, 0, 0.9);
}

.ColorGrey {
  color: rgba(128, 128, 128, 0.9);
}

.ColorRed {
  color: rgba(255, 0, 0, 0.9);
}

.ColorBrown {
  color: rgba(165, 42, 42, 0.9);
}

.ColorOrange {
  color: rgba(255, 165, 0, 0.9);
}

.ColorYellow {
  color: rgba(255, 255, 0, 0.9);
}

.ColorKhaki {
  color: rgba(240, 230, 140, 0.9);
}

.ColorGreen {
  color: rgba(0, 128, 0, 0.9);
}

.ColorBlue {
  color: rgba(0, 0, 255, 0.9) !important;
}

.ColorPink {
  color: rgba(255, 192, 203, 0.9);
}

.ColorWhite {
  color: rgba(255, 255, 255, 0.9);
}

.ColorWEST {
  color: rgba(0, 0, 255, 0.9);
}

.ColorEAST {
  color: rgba(255, 0, 0, 0.9);
}

.ColorGUER {
  color: rgba(0, 128, 0, 0.9);
}

.ColorCIV {
  color: rgba(255, 165, 0, 0.9);
}

.ColorUNKNOWN {
  color: rgba(128, 128, 128, 0.9);
}

.colorBLUFOR {
  color: rgba(0, 0, 255, 0.9);
}

.colorOPFOR {
  color: rgba(255, 0, 0, 0.9);
}

.colorIndependent {
  color: rgba(0, 128, 0, 0.9);
}

.colorCivilian {
  color: rgba(255, 165, 0, 0.9);
}

.Color1_FD_F {
  color: rgba(0, 0, 255, 0.9);
}

.Color2_FD_F {
  color: rgba(255, 0, 0, 0.9);
}

.Color3_FD_F {
  color: rgba(0, 128, 0, 0.9);
}

.Color4_FD_F {
  color: rgba(255, 165, 0, 0.9);
}

.Color5_FD_F {
  color: rgba(128, 128, 128, 0.9);
}

.Color6_FD_F {
  color: rgba(0, 0, 255, 0.9);
}

.text {
  padding: 0;
  top: 0px;
  left: 18px;
  font-weight: 400 !important;
  font-size: 16px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
  box-shadow: none !important;
  border: none !important;
  background: none !important;
}