/* Icon colors */

.ColorBlackFilter {
  filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(7495%) hue-rotate(147deg) brightness(97%) contrast(100%);
}

.ColorGreyFilter {
  filter: opacity(1) brightness(0) saturate(100%) invert(55%) sepia(0%) saturate(222%) hue-rotate(1deg) brightness(91%) contrast(90%);
}

.ColorRedFilter {
  filter: opacity(1) invert(27%) sepia(32%) saturate(6988%) hue-rotate(348deg) brightness(77%) contrast(123%);
}

.ColorBrownFilter {
  filter: brightness(0) saturate(100%) invert(20%) sepia(72%) saturate(1835%) hue-rotate(336deg) brightness(98%) contrast(97%)
}

.ColorOrangeFilter {
  filter: brightness(0) saturate(100%) invert(57%) sepia(98%) saturate(792%) hue-rotate(360deg) brightness(102%) contrast(102%)
}

.ColorYellowFilter {
  filter: brightness(0) saturate(100%) invert(87%) sepia(84%) saturate(755%) hue-rotate(359deg) brightness(107%) contrast(100%)
}

.ColorKhakiFilter {
  color: rgba(240, 230, 140, 0.9);
}

.ColorGreenFilter {
  filter: brightness(0) saturate(100%) invert(26%) sepia(94%) saturate(3048%) hue-rotate(91deg) brightness(92%) contrast(106%);
}

.ColorBlueFilter {
  filter: brightness(0) saturate(100%) invert(9%) sepia(100%) saturate(7476%) hue-rotate(248deg) brightness(91%) contrast(144%);
}

.ColorPinkFilter {
  color: rgba(255, 192, 203, 0.9);
}

.ColorWhiteFilter {
  color: rgba(255, 255, 255, 0.9);
}

.ColorWESTFilter {
  color: rgba(0, 0, 255, 0.9);
}

.ColorEASTFilter {
  color: rgba(255, 0, 0, 0.9);
}

.ColorGUERFilter {
  color: rgba(0, 128, 0, 0.9);
}

.ColorCIVFilter {
  color: rgba(255, 165, 0, 0.9);
}

.ColorUNKNOWNFilter {
  color: rgba(128, 128, 128, 0.9);
}

.colorBLUFORFilter {
  color: rgba(0, 0, 255, 0.9);
}

.colorOPFORFilter {
  color: rgba(255, 0, 0, 0.9);
}

.colorIndependentFilter {
  filter: brightness(0) saturate(100%) invert(26%) sepia(94%) saturate(3048%) hue-rotate(91deg) brightness(92%) contrast(106%);
}

.colorCivilianFilter {
  color: rgba(255, 165, 0, 0.9);
}

.Color1_FD_FFilter {
  color: rgba(0, 0, 255, 0.9);
}

.Color2_FD_FFilter {
  color: rgba(255, 0, 0, 0.9);
}

.Color3_FD_FFilter {
  color: rgba(0, 128, 0, 0.9);
}

.Color4_FD_FFilter {
  color: rgba(255, 165, 0, 0.9);
}

.Color5_FD_FFilter {
  color: rgba(128, 128, 128, 0.9);
}

.Color6_FD_FFilter {
  color: rgba(0, 0, 255, 0.9);
}

/* Text Colors */

.Default {
  color: #fff;
}

.ColorBlack {
  color: rgba(0, 0, 0, 0.9);
}

.ColorGrey {
  color: rgba(128, 128, 128, 0.9);
}

.ColorRed {
  color: rgba(255, 0, 0, 0.9);
}

.ColorBrown {
  color: rgba(165, 42, 42, 0.9);
}

.ColorOrange {
  color: rgba(255, 165, 0, 0.9);
}

.ColorYellow {
  color: rgba(255, 255, 0, 0.9);
}

.ColorKhaki {
  color: rgba(240, 230, 140, 0.9);
}

.ColorGreen {
  color: rgba(0, 128, 0, 0.9);
}

.ColorBlue {
  color: rgba(0, 0, 255, 0.9);
}

.ColorPink {
  color: rgba(255, 192, 203, 0.9);
}

.ColorWhite {
  color: rgba(255, 255, 255, 0.9);
}

.ColorWEST {
  color: rgba(0, 0, 255, 0.9);
}

.ColorEAST {
  color: rgba(255, 0, 0, 0.9);
}

.ColorGUER {
  color: rgba(0, 128, 0, 0.9);
}

.ColorCIV {
  color: rgba(255, 165, 0, 0.9);
}

.ColorUNKNOWN {
  color: rgba(128, 128, 128, 0.9);
}

.colorBLUFOR {
  color: rgba(0, 0, 255, 0.9);
}

.colorOPFOR {
  color: rgba(255, 0, 0, 0.9);
}

.colorIndependent {
  color: rgba(0, 128, 0, 0.9);
}

.colorCivilian {
  color: rgba(255, 165, 0, 0.9);
}

.Color1_FD_F {
  color: rgba(0, 0, 255, 0.9);
}

.Color2_FD_F {
  color: rgba(255, 0, 0, 0.9);
}

.Color3_FD_F {
  color: rgba(0, 128, 0, 0.9);
}

.Color4_FD_F {
  color: rgba(255, 165, 0, 0.9);
}

.Color5_FD_F {
  color: rgba(128, 128, 128, 0.9);
}

.Color6_FD_F {
  color: rgba(0, 0, 255, 0.9);
}

.text {
  padding: 0;
  top: 0px;
  left: 18px;
  font-weight: 400 !important;
  font-size: 16px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
  box-shadow: none !important;
  border: none !important;
  background: none !important;
}