@import '@/shared/ui/styles/core.scss';

.wrapper {
  position: relative;
}

.input {
  padding: 10px 8px;
  height: 32px;
  width: 100%;
  background: $black;
  color: $white;
  border: none;

  &::placeholder {
    color: $grey;
  }

  &:focus {
    outline: none;
  }
}

.label {
  position: absolute;
  top: 50%;
  left: 10px;
  color: $grey;
  font-size: 14px;
  pointer-events: none;
  transition: .2s;
  transform: translateY(-50%);
}

.label-focused {
  top: -18px;
  left: 0;
  font-size: 14px;
  color: $grey;
  transition: .2s;
  transform: translateY(0);
}

.error {
  position: absolute;
  bottom: -18px;
  right: 0;
  color: rgb(218, 23, 23);
  font-size: 14px;
  z-index: 1;
}