$width: 230px;

.wrapper {
  position: fixed;
  top: 250px;
  left: 50%;
  gap: 2px;
  width: $width;
  z-index: 1001;
  transform: translateX(-50%);
  color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toaster {
  gap: 2px;
  width: $width;
  z-index: 1001;
  color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  text-align: left;
  min-height: 20px;
  padding: 4px 7px;
  width: 100%;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  background: rgba($color: #000, $alpha: 0.8);
  animation: show-title 220ms ease-in 0ms 1 normal forwards, hide-title 220ms ease-out 3700ms 1 normal forwards;
  overflow: hidden;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2px;
  font-size: 12px;
  height: auto;
  max-height: 0;
  animation: show-content 220ms ease-in 325ms 1 normal forwards, hide-content 220ms ease-out 3300ms 1 normal forwards;
  overflow: hidden;
}

.icon-box {
  height: 32px;
  width: 32px;
  flex-shrink: 0;
  background: rgba($color: #000, $alpha: 0.8);
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 14px;
  min-height: 32px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  background: rgba($color: #000, $alpha: 0.8);
}

@keyframes show-title {
  from {
    font-size: 0;
    max-width: 0;
  }

  to {
    font-size: 14;
    max-width: $width;
  }
}

@keyframes hide-title {
  from {
    font-size: 14px;
    max-width: $width;
  }

  to {
    font-size: 0;
    max-width: 0;
    overflow: hidden;
    padding: 0;
  }
}

@keyframes show-content {
  from {
    max-height: 0;
    overflow: hidden;
  }

  to {
    max-height: 32px;
  }
}

@keyframes hide-content {
  from {
    max-height: 32px;
  }

  to {
    overflow: hidden;
    max-height: 0;
  }
}