$width: 192px;

.wrapper {
  position: fixed;
  top: 250px;
  left: 50%;
  gap: 10px;
  width: $width;
  z-index: 1000;
  transform: translateX(-50%);
  color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  text-align: left;
  height: 35px;
  padding-left: 10px;
  width: 100%;
  background: rgba($color: #000, $alpha: 0.7);
  animation: show-title ease-in 300ms;
  overflow: hidden;
}

.content {
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  gap: 2px;
  font-size: 12px;
}

.icon-box {
  height: 32px;
  width: 32px;
  flex-shrink: 0;
  background: rgba($color: #000, $alpha: 0.7);
}

.description {
  padding: 15px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba($color: #000, $alpha: 0.7);
}

@keyframes show-title {
  from {
    max-width: 0;
  }

  to {
    max-width: $width;
  }
}

@keyframes hide-title {
  from {
    max-width: 0;
    font-size: 0;
  }

  to {
    max-width: $width;
    font-size: 14px;
  }
}