/* UI Colors */

$orange: #A16C14;
$white: #fff;
$grey: #808080;
$black: #000;
$red: #9F0F0F;

/* Marker colors */

$Default: #fff;

$ColorDefault: rgba(0, 0, 0, 1);

$ColorBlack: rgba(0, 0, 0, 1);

$ColorGrey: rgba(128, 128, 128, 1);

$ColorRed: rgba(230, 0, 0, 1);

$ColorBrown: rgba(128, 64, 0, 1);

$ColorOrange: rgba(217, 102, 0, 1);

$ColorYellow: rgba(217, 217, 0, 1);

$ColorKhaki: rgba(128, 153, 102, 1);

$ColorGreen: rgba(0, 204, 0, 1);

$ColorBlue: rgba(0, 0, 255, 1);

$ColorPink: rgba(255, 77, 102, 1);

$ColorWhite: rgba(255, 255, 255, 1);

$ColorWEST: rgba(0, 77, 153, 1);

$ColorEAST: rgba(128, 0, 0, 1);

$ColorGUER: rgba(0, 128, 0, 1);

$ColorCIV: rgba(102, 0, 128, 1);

$ColorUNKNOWN: rgba(179, 153, 0, 1);

$colorBLUFOR: rgba(0, 77, 153, 1);

$colorOPFOR: rgba(128, 0, 0, 1);

$colorIndependent: rgba(0, 128, 0, 1);

$colorCivilian: rgba(102, 0, 128, 1);

$Color1_FD_F: rgba(177, 51, 57, 1);

$Color2_FD_F: rgba(173, 191, 131, 1);

$Color3_FD_F: rgba(240, 130, 49, 1);

$Color4_FD_F: rgba(103, 139, 156, 1);

$Color5_FD_F: rgba(176, 64, 167, 1);

$Color6_FD_F: rgba(90, 89, 90, 1);