/* Marker colors */

$Default: #fff;

$ColorBlack: rgba(0, 0, 0, 1);

$ColorGrey: rgba(128, 128, 128, 1);

$ColorRed: rgba(255, 0, 0, 1);

$ColorBrown: rgba(165, 42, 42, 1);

$ColorOrange: rgba(255, 165, 0, 1);

$ColorYellow: rgba(255, 255, 0, 1);

$ColorKhaki: rgba(240, 230, 140, 1);

$ColorGreen: rgba(0, 128, 0, 1);

$ColorBlue: rgba(0, 0, 255, 1);

$ColorPink: rgba(255, 192, 203, 1);

$ColorWhite: rgba(255, 255, 255, 1);

$ColorWEST: rgba(0, 0, 255, 1);

$ColorEAST: rgba(255, 0, 0, 1);

$ColorGUER: rgba(0, 128, 0, 1);

$ColorCIV: rgba(255, 165, 0, 1);

$ColorUNKNOWN: rgba(128, 128, 128, 1);

$colorBLUFOR: rgba(0, 0, 255, 1);

$colorOPFOR: rgba(255, 0, 0, 1);

$colorIndependent: rgba(0, 128, 0, 1);

$colorCivilian: rgba(255, 165, 0, 1);

$Color1_FD_F: rgba(0, 0, 255, 1);

$Color2_FD_F: rgba(255, 0, 0, 1);

$Color3_FD_F: rgba(0, 128, 0, 1);

$Color4_FD_F: rgba(255, 165, 0, 1);

$Color5_FD_F: rgba(128, 128, 128, 1);

$Color6_FD_F: rgba(0, 0, 255, 1);