.clock {
  margin-right: 10px;
}

.hidden {
  display: none;
}

.html {
  max-width: 540px;
  line-height: 24px;

  a,
  marker {
    text-decoration: underline;
  }
}

.callsign {
  color: #ffa30e;
}

.list {
  line-height: 24px;

  color: #fff;

  b {
    color: #fff;
  }
}

.group {
  margin-bottom: 20px;
}