@import '@/shared/ui/styles/core.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  min-height: 100svh;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}

.logo {
  position: absolute;
  left: 50%;
  top: -2px;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}


.logo-image {
  // width: 100%;
  // height: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 32px;
  background: #070B0A;
}

.main {
  padding-top: 30px;
  margin: 133px auto 0 auto;

  @include tablet {
    margin: auto;
  }
}

.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 325px;
  gap: 0;
  width: 100%;
  background: rgba($color: #070B0A, $alpha: 0.7);

  @include tablet {
    min-height: 115px;
    flex-direction: column;
  }
}

.navigation-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 325px;
  height: 325px;
  cursor: pointer;
  transition: .3s;
  overflow: hidden;
  border: 2px solid #000;
  border-right: none;
  object-fit: cover;
  background: rgba($color: #3C3C3C, $alpha: 0.5);

  &:last-child {
    border-right: 2px solid #000;
  }

  &:hover {
    transition: .3s;

    .navigation-item-image {
      top: -325px;
      transition: .3s;
    }
  }

  @include tablet {
    width: 100%;
    min-width: 100svw;
    height: auto;
    min-height: 150px;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;

    &:last-child {
      border-bottom: 2px solid #000;
      border-right: none;
    }

    &:hover {
      transition: none;

      .navigation-item-image {
        top: 0
      }
    }
  }
}

.navigation-item-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: .3s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation-item-text {
  font-size: 22px;
  text-align: center;
  color: #fff;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 500;
}

.hidden {
  display: none;
}