.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85px;
}

.main {
  margin: 133px auto 0 auto
}

.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 164px;
  width: 100%;
  background: rgba($color: #070B0A, $alpha: 0.7);
}

.navigationItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 162px;
  cursor: pointer;
  transition: .3s;
  overflow: hidden;
  border: 2px solid #000;
  object-fit: cover;
  background: rgba($color: #3C3C3C, $alpha: 0.5);

  &:nth-of-type(2) {
    border-left: none;
    border-right: none;
  }

  &:hover {
    transition: .3s;

    .navigationItemImage {
      top: -162px;
      transition: .3s;
    }
  }
}

.navigationItemImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: .3s;
  object-fit: cover;
}

.navigationItemText {
  font-size: 18px;
  text-align: center;
  color: #fff;
  z-index: 1;
}