@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', Tahoma, sans-serif;
  font-weight: 300;
  background: url('/background.jpg') #000;
  background-position-y: 0;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
}

p,
div {
  font-family: 'Roboto Condensed', 'Roboto', Tahoma, sans-serif;
}

a,
a:visited {
  color: #fff;
  text-decoration: none;
}